#record-button {
    list-style-image: url("chrome://trump/skin/record_microphone.png");
}

#stop-button {
    list-style-image: url("chrome://trump/skin/stop.png");
}

#source Pre {
    white-space: normal; 
}

/*
button .myClass0 {
     background-color: #EDFF64;
}

button .myClass1 {
     background-color: #666666;
}

button .myClass2 {
     background-color: SlateBlue;
}

button .myClass3 {
     background-color: SkyBlue;
}
*/

button[myclass="myClass0"] {
     background-color: #EDFF64;
}

button[myclass="myClass1"]{
     background-color: #666666;
}

button[myclass="myClass2"]{
     background-color: SlateBlue;
}

button[myclass="myClass3"]{
     background-color: SkyBlue;
}