#logging-console ul {
    margin-top: 0px;
}

#logging-console ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 3em;
    padding-left: 5px;
}

#logging-console li {
    margin: 2px;
    border-top: 1px solid #ccc;
}

#logging-console li.error {
    font-weight: bold;
    color: red;
}

#logging-console li.warn {
    color: red;
}

#logging-console li.debug {
    color: green;
}
